body {background-color: lightseagreen; text-align: center;}
h2 {text-decoration: underline;}
h3 {color: blue}
p {font-size: 2em; color: black;} 
a {color: purple;}
li {font-size:  1em; text-transform: uppercase;}
<p> .favlist {text-decoration: underline blue}
div {
     background-color: aquamarine;
}
span {
	color: maroon;
}

#mylinkedin {
     background-color: lightgrey;
}